$font-ultralight: 'Helvetica Neue UltraLight', sans-serif;
$font-medium: 'Helvetica Neue Medium Extended', sans-serif;
$font-medium-italic: 'Helvetica Neue W01 66 Medium It', sans-serif;
$font-bold-italic: 'Helvetica Neue LTW0697BlkCnObl', sans-serif;

@font-face {
  font-family: $font-ultralight;
  src: url('@/assets/fonts/Helvetica Neue UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: $font-medium;
  src: url('@/assets/fonts/Helvetica Neue Medium Extended.ttf')
    format('truetype');
}

@font-face {
  font-family: $font-medium-italic;
  src: url('@/assets/fonts/Helvetica Neue W01 66 Medium It.ttf')
    format('truetype');
}

@font-face {
  font-family: $font-bold-italic;
  src: url('@/assets/fonts/Helvetica Neue LTW0697BlkCnObl.ttf')
    format('truetype');
}
