// Font variables
$font-size-base: 1rem;
$font-size-base-mobile: 1.25rem;
$section-title-size: 1.9rem;
$general-title-size: 1.25rem;
$general-line-height: 1.7rem;

// Gutter
$default-spacing: 20px;

%base-wrapper {
  width: calc(100% - 48px);
  max-width: 1400px;
  margin: 0 auto;
}

// colors
$color-branding: #712cf9;
$color-bg-light: #f5f5f5;
$color-text-dark: #000;
$color-text-light: #fff;
$color-general-text: #212529;
