// Font variables
$font-size-base: 1rem;

// colors
$color-branding: #2763e4;
$color-branding-dark: darken($color-branding, 20%);
$color-branding-extra-dark: darken($color-branding, 40%);
$color-general-text-bglight: darken($color-branding, 80%);
$color-general-text-bgdark: lighten($color-branding, 30%);
$color-general-headers: #071221;
$color-general-headers-bgdark: #fafafa;
