.home-services {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;

  .container-default {
    max-width: 1257px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;

    .top {
      max-width: 575px;
      margin-bottom: 20px;
      text-align: left;

      .subtitle {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.02em;
        line-height: 1em;
        color: $color-branding;
        text-align: left;
      }

      h2 {
        margin-top: 0px;
        margin-bottom: 25px;
        font-size: 26px;
        line-height: 1.368em;
        font-weight: 800;
        letter-spacing: -0.02em;
        text-shadow: 0 3px 6px rgba(39, 99, 228, 0.11);
        color: $color-general-headers;
        text-align: left;
      }
    }

    .slide-services {
      .swiper-slide {
        max-width: 385px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .home-services {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;

    .container-default {
      padding-left: 24px;
      padding-right: 24px;

      .top {
        max-width: 575px;
        margin-bottom: 20px;

        div.subtitle {
          margin-bottom: 10px;
        }

        h2 {
          font-size: 31px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home-services {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;

    .container-default {
      .top {
        max-width: 575px;
        margin-bottom: 20px;

        div.subtitle {
          margin-bottom: 16px;
        }

        h2 {
          font-size: 38px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .home-services {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 130px;

    .container-default {
      .top {
        max-width: 575px;
        margin-bottom: 20px;
      }
    }
  }
}

// Estilo aplicado ao componente ServicesView

.services {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 60px;

  .container-default {
    max-width: 1257px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;

    .top {
      max-width: 100%;
      margin-bottom: 20px;
      text-align: center;

      .subtitle {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.02em;
        line-height: 1em;
        color: $color-branding;
      }

      h2 {
        margin-top: 0px;
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 1.368em;
        font-weight: 800;
        letter-spacing: -0.02em;
        text-shadow: 0 3px 6px rgba(39, 99, 228, 0.11);
        color: $color-general-headers;
      }
    }

    .text-center {
      text-align: center;
    }

    .slide-services {
      .swiper-slide {
        max-width: 385px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .services {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 100px;

    .container-default {
      padding-left: 24px;
      padding-right: 24px;

      .top {
        max-width: 575px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        div.subtitle {
          margin-bottom: 10px;
        }

        h2 {
          font-size: 33px;
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .services {
    padding-top: 60px;
    padding-bottom: 120px;

    .container-default {
      .top {
        max-width: 690px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        div.subtitle {
          margin-bottom: 16px;
        }

        h2 {
          font-size: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .services {
    padding-top: 94px;
    padding-bottom: 160px;

    .container-default {
      .top {
        max-width: 761px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        div.subtitle {
          margin-bottom: 16px;
        }

        h2 {
          margin-bottom: 50px;
          font-size: 48px;
          line-height: 1.291em;
        }
      }
    }
  }
}
